<div>
    <md-content>
        <md-toolbar class="md-primary md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <!-- <md-icon md-svg-icon="img/icons/menu.svg"></md-icon> -->
                </md-button>
                <h2>
					<span>dirico</span><span class="md-primary md-hue-1">localize</span>
				</h2>
                <span flex></span>
                <md-button class="md-raised md-accent " ng-click="$ctrl.showAddLocalizationDialog();">Add Localization</md-button>
                <md-button class="md-raised md-accent " ng-click="$ctrl.showGenerateFilesDialog();">Generate Languagefiles</md-button>
            </div>
        </md-toolbar>
    </md-content>
</div>
