.langkeyListWrap{
	.langkeyList{

		.hoverOnly{
			display: none;
		}

		.condensedRow {
			min-height: 0px;
			height: 40px;

			// overwriting input
			md-input-container:not(.md-input-invalid).md-input-focused .md-input {
			    border-bottom-width: 1px; 
			}

			input {
				padding-bottom: 10px;
			}
		}

		.condensedRow:hover .hoverOnly{
			display: block;
		}
	}
}