<div class="langkeyListSearchWrap">
    <md-content flex layout="row" layout-align="center center" class="highlightSection">
        <div flex="80" layout="row" layout-align="center bottom" layout-padding>
            <div flex="20">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Localization</label>
                    <md-select ng-model="$ctrl.langSelected" ng-change="$ctrl.updateSelectedLanguage();">
                        <md-option ng-repeat="lang in $ctrl.langAvailable" value="{{lang.code}}">
                            {{lang.clear}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="60">
                <md-input-container class="md-icon-float md-icon-right md-block">
                    <label>Search Key</label>
                    <input ng-model="$ctrl.keyFilterText" type="text">
                    <md-icon md-font-icon="icon-search"></md-icon>
                    <!--       ng-style="{color: !font.theme && font.color, 'font-size': it.size + 'px', height: it.size + 'px'}"
			            ng-class="font.theme"
			            aria-label="{{ font.name + it.size }}"
			            class="step "
 -->
                </md-input-container>
            </div>
            <div flex="20">
                <md-input-container>
                    <md-checkbox ng-model="$ctrl.hideCompleteRecords"  ng-change="$ctrl.toggleCompletedRedcords();" aria-label="hide complete records">
                        hide complete records
                    </md-checkbox>
                </md-input-container>
            </div>
        </div>
    </md-content>
</div>
<div class="spacer20"></div>
<div class="langkeyListWrap">
    <md-content flex layout="row" layout-align="center center">
        <div flex="80" layout="column">
            <div layout="row" layout-align="space-between center">
                <div class="lightFont">Result: {{ $ctrl.keys.length }} Keys</div>
                <div flex></div>
                <div>
                    <md-button class="md-raised md-accent " ng-click="$ctrl.addKey()">Add Key</md-button>
                </div>
            </div>
            <div flex layout="row" layout-align="center bottom">
                <md-list flex class="list langkeyList">
                    <md-list-item class="headerRow noPadding">
                        <span flex="15">Key</span>
                        <span flex="25">Descr<span hide-xs hide-sm>iption (en_US)</span> </span>
                        <span flex="25">Main<span hide-xs hide-sm> Language (en_US)</span></span>
                        <span flex="25">Transl<span hide-xs hide-sm>ation ({{ $ctrl.langSelected }})</span></span>
                        <span flex="10">Action</span>
                    </md-list-item>
                    <md-list-item ng-repeat="lk in $ctrl.keys | filter:$ctrl.keyFilterText" ng-hide="lk.hide" class="noPadding condensedRow">
                        
                        <div flex="15">
	                        <md-input-container md-no-float class="md-block noMargin">
	                            <input 
	                            	ng-model="lk.key" 
	                            	ng-change="lk.dirty = true;" 
	                            	placeholder="Key" 
	                            	class="inplaceInput">
	                        </md-input-container>
                        </div>
                        <div flex="25">
	                        <md-input-container md-no-float class="md-block noMargin">
	                            <input 
	                            	ng-model="lk.description"  
	                            	ng-change="lk.dirty = true;" 
	                            	placeholder="Description" 
	                            	class="inplaceInput">
	                        </md-input-container>
                        </div>
                        <div flex="25">
	                        <md-input-container md-no-float class="md-block noMargin">
	                            <input 
	                            	ng-model="lk.labels[$ctrl.langDefault]" 
	                            	ng-change="lk.dirty = true;" 
	                            	placeholder="Main Language" 
	                            	class="inplaceInput">
	                        </md-input-container>
	                    </div>
                        <div flex="25">
	                        <md-input-container md-no-float class="md-block noMargin">
	                            <input 
	                            	ng-model="lk.labels[$ctrl.langSelected]" 
	                            	ng-change="lk.dirty = true;" 
	                            	placeholder="Selected Language" 
	                            	class="inplaceInput">
	                        </md-input-container>
	                    </div>
                        <div flex="10">
                        	 <md-icon ng-click="$ctrl.saveKey(lk)" ng-show="lk.dirty && lk.key && lk.description && lk.labels.en_US">check</md-icon>
                             <md-icon ng-click="$ctrl.removeKey($index)" class="hoverOnly" ng-show="!lk.dirty">delete</md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-content>
</div>