<div ng-if="$ctrl.hero">
  <h3>"{{$ctrl.hero.name}}"</h3>
  <div>
    <label>Id: </label>{{$ctrl.hero.id}}</div>
  <div>
    <label>Name: </label>
    <input ng-model="$ctrl.hero.name" placeholder="name"/>
  </div>
  <button ng-click="$ctrl.gotoHeroes()">Back</button>
</div>