// mixins
.noPadding {
    padding: 0px 0px !important;  // yeah i know... important :D
}

.noMargin {
    margin: 0px 0px !important;
}

// spacer classes
.spacer20{
  padding: 20px;
}


// global used styles
.list{
    .headerRow {
        font-weight: 700;
        border-bottom: 1px solid #aaa;    
        margin-bottom: 7px;
    }
}
.highlightSection{
    background: #efefef;
    border-bottom: 1px solid #ddd;
  }

// globals for font styling
@primary-color: #333;
@primary-color-lighter: lighten(@primary-color, 40%);
body {
  color: @primary-color;
}
.lightFont{
  color: @primary-color-lighter;
}



// get the material icons loca (naiv version :D )
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/materialIcons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}