<!-- move this out of here -->
<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Localozation</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h3>Type the Localization Key</h3>
                <md-input-container md-no-float class="md-block">
                    <label>Code</label>
                    <input ng-model="locale.code" placeholder="New Localization Code" class="">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Clear Name</label>
                    <input ng-model="locale.clear" placeholder="New Localization Name" class="">
                </md-input-container>


                 <md-button class="md-raised md-accent " ng-click="addLocalization();">Add Localization</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
