
<!-- move this out of here -->

<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Generate Language Files</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h3>Choose the Language</h3>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Language</label>
            <md-select ng-model="selectedLang" ng-change="extractSingleLanguage();">
                <md-option ng-repeat="lang in availableLanguages" value="{{lang.code}}">
                    {{lang.clear}}
                </md-option>
            </md-select>
        </md-input-container>
<pre ng-copyable class="highlightSection">
{{ langFile | json }}
</pre>
<p>Click somewhere to the grey area to copy the json to clipbiaord</p>
      </div>
    </md-dialog-content>
  <!--   <md-dialog-actions layout="row">
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions> -->
  </form>
</md-dialog>